<form method="POST" action="/new">
  <h2><%= heading %></h2>
  <label for="authorName">Name:</label>
  <input type="text" id="authorName" name="authorName" />
  <label for="messageContent">Your message:</label>
  <input type="text" id="messageContent" name="messageContent" />
  <button type="submit">Send</button>
</form>
